annotated-doc==0.0.4
black==26.5.1
click==8.4.2
iniconfig==2.3.0
markdown-it-py==4.2.0
mdurl==0.1.2
mypy_extensions==1.1.0
packaging==26.2
pathspec==1.1.1
platformdirs==4.10.0
pluggy==1.6.0
Pygments==2.20.0
pypdf==6.14.2
pytest==9.1.1
python-magic==0.4.27
pytokens==0.4.1
rich==15.0.0
ruff==0.15.20
shellingham==1.5.4
tqdm==4.68.4
typer==0.26.8
